/*-----------------------------
TIPOGRAFIA
------------------------------*/
html {
  font-size: 62.5%;
  /* Se deben convertir a  REMS */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #70144c;
}

/* Principales */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
  margin-top: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

/* Display */
.display-6 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 1rem;
}

.display-5 {
  font-size: 2rem;
}

/*-----------------------------
Estilo color principal
------------------------------*/
.bg-primary {
  background-color: orange!important;
}

.text-primary {
  color: black !important;

}

/*-----------------------------
Estilo color secundariioo
------------------------------*/
.bg-secondary {
  background-color: orange !important;
}

.text-success {
  color: whitesmoke !important;
}

.text-lightgreen {
  color:whitesmoke !important;
}

/*-----------------------------
Estilo header
------------------------------*/
#barras-redes i {
  color: whitesmoke;
  margin-right: 1rem;
}

#datos-generales i {
  font-size: 3rem;
  margin-right: 1.4rem;
}

#datos-generales span {
  color: whitesmoke;
}

.navbar-nav li a {
  color: whitesmoke !important;
  padding-right: 3rem !important;
  font-size: 2.5rem;
}

#principal {
  background-image: url(../images/portada.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
}

#slogan {
  text-shadow: -6rem -3.5rem .6rem whitesmoke;
  color: whitesmoke;
}

.card {
  border: none;
}

.card-body i {
  font-size: 4rem;
  text-shadow: 0.2rem -0.4rem 0.1rem #d7d7d7;
  color: orange;
}

.cards {
  margin-top: 1rem;
}

.btn-primary {
  background-color: purple;
  color: white;
  border: orange dotted 0.5rem;
  border-radius: 3rem;
  font-size: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 3rem;
}

.card-img-top {
  border-radius: 15rem;
  -webkit-box-shadow: 5px 5px 5px 2px orange;
          box-shadow: 5px 5px 5px 2px orange;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.costos {
  color: #c31483;
}

.servicios {
  margin-bottom: 5rem;
}

.servicios h2 {
  margin-bottom: 2rem;
}

.enlaces-rapidos a {
  text-decoration: none;
  color: black;
}

footer {
  background-color:orange;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: black;
}
